@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Header.js */

.header{
  width: 90%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 0 10vh;
  text-align: center;
  height: 18vh;
  background-color: white;
  padding-bottom: 10px;
}
.he_ho {
  padding-top: 10px;
}
.he_ho:hover{
  cursor: pointer;
}
.link_contain{
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.log_link{
  color: rgb(68, 68, 68);
  text-decoration: none;
  font-size: 12pt;
  padding-right: "10%"
}
.toggle{
  height: 3vh;
  text-align: center;
  margin-right: 30px;
  font-size: 10px;
}
.btn_select {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  border: 1px;
  color: black;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 14pt;
}
.btn_select:hover {
  color: darkgray;
  cursor: pointer;
}

/* Quiz.js 아래 버튼 사이 여백 설정 */
.button-container button:not(:last-child) {
  margin-right: 10px;
}

/* App.js */

body {
  font-family: 'Noto Sans KR', sans-serif;
  /* background-color: rgb(242, 197, 225); */
  background-color: rgb(2, 75, 128);
  margin: 50px 0; 
}

.background {
  background-color: white;
  height: auto;
  width: 90%;
  min-width: 80%;
  min-height: 70%; 
  margin: 0 10vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-bottom: 20px;
}
/* .login-signin{
  background-color: white;
  height: auto;
  width: auto;
  max-width: 450px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
  text-align: center;
} */

.form {
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.login {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  font-weight: 700;
  transition: .2s;
  width: 75%;
}

.login:active,
.login:focus,
.login:hover {
  outline: none;
  border-bottom-color: rgb(2, 75, 128);
}

.btn_sub {
  border: none;
  width: 75%;
  background-color: rgb(2, 75, 128);
  color: white;
  padding: 15px 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
.btn_sub:hover {
  background-color: rgb(2, 54, 90);
}

.btn_form {
  background-color: white;
  border: none;
  margin-left: 10px;
  width: 80px;
  height: 30px;
}

.btn_form:hover {
  border: none;
  border-bottom: 2px solid rgb(2, 75, 128);
  color: rgb(18, 18, 65);
  font-size: 15px;
}

/* .btn {
  border: none;
  width: 75%;
  background-color: rgb(2, 75, 128);
  color: white;
  padding: 15px 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.btn:hover {
  background-color: rgb(2, 75, 128);
} */

/* Selectmovie.js 부분 */
.movie {
  display : flex;
  justify-content: space-around;
  padding: 30px;
}

/* Selecttype.js 부분 */
.quiztype {
  display:flex;
  width:700px;
  border-left:1px solid black;
  border-top:1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.type {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.type:hover{
  background-color: rgb(201, 201, 201);
}


/* Quiz.js 부분 */

.quiz{
  font-family: 'Noto Sans KR', sans-serif;
  display:flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.movievideo{
  width: 700px;
  height: 392px;
  margin-left: auto;
  margin-right: auto;
}
.summary{
  font-family: 'Noto Sans KR', sans-serif;
  width: auto;
  height: auto;
  padding: 15px;
  z-index: 999;
  position: absolute;
  top: 30%;
  left: 30%;
  border: 2px solid rgb(206, 226, 240);
  border-radius: 8px;
  background-color: rgb(206, 226, 240);
  text-align: left;
  color: rgb(15, 33, 47);
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}

.problem {
  display:flex;
  width:700px;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selection {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  align-items: center;
  width: 700px;;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-bottom:1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
}
.selection.selected {
  background-color: rgb(201, 201, 201);
}
.selection:last-child {
  border-bottom: none;
}
.selection:hover{
  background-color: rgb(201, 201, 201);
}
.selection.visted{
  border: 2px solid red;
}

/* Substitute 원문 제시 */
.question {
  background-color: white;
  align-items: center;
  width: 700px;;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border:1px solid black;
  position: relative; 
}
.question::before {
  content: "problem"; 
  position: absolute;
  top: -20px;
  left: 15px; 
  padding: 5px;
  background-color: white;
  font-size: 18px;
}


/* Answer.js 부분 */

.answer {
  background-color: white;
  align-items: center;
  width: 700px;;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-bottom:1px solid black;
}
.answer:last-child {
  border-bottom: none;
}


.show_index {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}